@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* General Styles */

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ffe8d6;
  font-family: "Comic Neue", cursive;
  font-weight: 700 !important;
}

.text-shadow {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.error-text {
  color: red;
  font-size: 0.8rem;
}

a {
  color: #ffffff;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 190px;
}

/* Nav */

.brand-logo {
  color: #142424 !important;
}

nav {
  background-color: #cb997e;
}

.nav-links a {
  color: #142424;
}

.sidenav {
  background-color: #ffe8d6;
}

.sidenav > li > a {
  margin-top: 50px;
  color: #142424;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* BASE (sitewide) */

.main-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 2px;
  font-weight: 700 !important;
  color: #ffffff;
}

.subheader {
  font-size: 2.2rem;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 700 !important;
}

.card {
  background-color: #ddbea9;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin-top: 5%;
  overflow-y: auto;
  overflow-x: hidden;
}

.card > .card-action {
  border-top: none !important;
}

.collapsible-header {
  background-color: #cb997e;
  font-size: 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #142424;
}

.collapsible-body {
  background-color: #ffffff;
  font-size: 1.2rem;
  overflow: auto;
  color: #142424;
}

.collapsible {
  border: none;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
}

.card-panel {
  background-color: #ffd6ba;
}

.btn {
  background-color: #4c736f;
  margin-bottom: 5px;
}

.form-text {
  color: #142424;
  font-size: 1.3rem;
}

/* Footer */

.footer {
  background-color: #cb997e;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
}

.social-link i {
  margin: 15px 15px;
  color: #142424;
  font-size: 1.5rem;
}

.mail {
  font-size: 1rem !important;
  color: #ffffff;
}

i.fa-envelope {
  margin-right: 5px;
}

.copyright span {
  color: #ffffff;
}

.copyright a {
  color: #142424;
  font-size: 1rem;
  letter-spacing: 1.2px;
}

/* Index.html */

.main-img {
  height: 100%;
  width: 100%;
}

.home-text {
  padding-top: 20px;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #142424;
}

.cta-text {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #142424;
}

/* Dictionary.html */

.dictionary-text {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #142424;
}

.search-form i {
  font-size: 1.7rem;
  color: #142424;
}

/* profile.html */

.profile-btn {
  padding: 10px;
}

.profile-text {
  font-size: 1.5rem;
  color: #142424;
}

.add-word-btn {
  margin-bottom: 3%;
}

/* login page */

.signup-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #142424;
}

/* signup page */

.login-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #142424;
}

/* Media Queries */

@media only screen and (min-width: 1400px) {
  .main-img {
    height: 80%;
    width: 80%;
  }
}
