@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Base */

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #bee3db;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.form-text {
  color: white;
}

nav {
  background-color: #555b6e;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin-top: 5%;
  overflow: auto;
}

.card {
  background-color: #89b0ae;
}

.footer {
  background-color: #555b6e;
}

.social-link i {
  margin: 0px 20px;
  color: #ffd6ba;
}

i.fa-envelope {
  margin-right: 0;
}

.copyright a {
  color: black;
  font-size: 1rem;
}

/* Index.html */

.navigating-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 2px;
}

.main-img {
  height: 100%;
  width: 100%;
}

.home-text {
  font-size: 1.5rem;
}

/* Dictionary.html */

.dictionary-header {
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 15%;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 2px;
}

.dictionary-text {
  font-size: 1.5rem;
}

.collapsible-header {
  background-color: #555b6e;
  font-size: 1.2rem;
  justify-content: center;
  color: #ffffff;
}

.collapsible-body {
  background-color: #ffd6ba;
  font-size: 0.8rem;
  overflow: auto;
  color: white;
}

.collapsible {
  border: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
}

.card-panel {
  background-color: #ffd6ba;
}

.dictionary-subheader {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 2px;
}

/* profile.html */

.profile-btn {
  padding: 10px;
}

.profile-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 2px;
}

.add-word-btn {
  margin-bottom: 3%;
}

/* login page */

.login-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 2px;
}

/* signup page */

.signup-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 2px;
}

/* Update_word.html */

.update-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 2px;
}

/* add_word.html */