{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12">
    <div class="card center-align">
      <div class="add-word-header">
        <h1 class="add-word-header">Add Word</h1>
      </div>
      <div class="container center-align">
        <div class="row">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %} {% if category ==
          "word_exists" %}
          <div>
            <h5>{{ message }}</h5>
          </div>
          {% endif %} {% endfor %} {% endif %} {% endwith %}
        </div>
        <form
          class="card-panel"
          method="POST"
          action="{{ url_for('add_word') }}"
        >
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="form-group col s12">
              {{ form.word.label(class_="form-text") }} {{ form.word }}
              {% for error in form.word.errors %}
              <span class="error-text"> {{error}} </span>
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="form-group col s12">
              {{ form.definition.label(class_="form-text") }} {{ form.definition
              }}
              {% for error in form.definition.errors %}
              <span class="error-text"> {{error}} </span>
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="form-group col s12">
              {{ form.example.label(class_="form-text") }} {{ form.example }}
              {% for error in form.example.errors %}
              <span class="error-text"> {{error}} </span>
              {% endfor %}
            </div>
          </div>
          <div class="row">{{ form.submit(class_="btn") }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
