{% extends "base.html" %} {% block content %}

<div class="card-content white-text">
  <span class="card-title">Geordie Dictionary</span>
  <p>Don't forget to add your own!.</p>
</div>
<div class="container">
  <ul class="collapsible">
    {% for words in dictionary %}
    <li>
      <div class="collapsible-header">
        <strong class="float-right">{{ words.word }}</strong>
      </div>
      <div class="collapsible-body">
        <strong>{{ words.definition }}</strong>
        <p>{{ words.example }}</p>
        <p>{{ words.added_by }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
