{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12">
    <div class="card jumbotron center-align">
<div class="card-content white-text">
  <h1 class="dictionary-header">Geordie Dictionary</h1>
  <p class="dictionary-text">Don't forget to add your own via your profile page!</p>
</div>
<div class="container">
  <div class="container center-align">
    <form class="card-panel" action="{{ url_for('search') }}" method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="form-group col s12">
          <i class="fas fa-search"></i>
          {{ form.word.label }} {{ form.word }}
        </div>
      </div>
      <div class="row">{{ form.submit(class_="btn") }}</div>
    </form>
  </div>
  <h2 class="dictionary-subheader">Dictionary!</h2>
  <ul class="collapsible">
    {%if dictionary%}
    {% for word in dictionary %}
    <li>
      <div class="collapsible-header">
        <strong class="float-right">{{ word.word }}</strong>
      </div>
      <div class="collapsible-body col s12">
        <p><span>Definition: </span>{{ word.definition }}</p>
        <p><span>Example: </span>{{ word.example }}</p>
        <p><span>Added By: </span>{{ word.added_by }}</p>
      </div>
    </li>
    {% endfor %}
    {%else%}
     <div class="card-panel">
      <h3 class="center-align">No word found with this name</h3>
    </div>
    {%endif%}
  </ul>
</div>
</div>
</div>
</div>
{% endblock %}
