{% extends "base.html" %} {% block content %}

<div class="card-content white-text">
  <span class="card-title">Geordie Dictionary</span>
  <p>Don't forget to add your own!.</p>
</div>
<div class="container">
  <div class="row">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
        <div class="input-field">
            <input type="text" name="search-word" id="search-word">
            <label for="search-word">
                <i class="fas fa-search"></i>
                Type a word to search
            </label>
        </div>
        <div class="col s12">
            <button type="submit" class="btn">
                <i class="fas fa-search"></i>
                Search
            </button>
        </div>
    </form>
</div>
  <ul class="collapsible">
    {% for word in dictionary %}
    <li>
      <div class="collapsible-header">
        <strong class="float-right">{{ word.word }}</strong>
      </div>
      <div class="collapsible-body">
        <strong>{{ word.definition }}</strong>
        <p>{{ word.example }}</p>
        <p>{{ word.added_by }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
