{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12">
    <div class="card center-align">
      <div class="card-content white-text">
        <h1 class="main-header text-shadow">Navigating Newcastle</h1>
        <div class="image">
          <img
            class="responsive-img main-img"
            src="../static/images/nn-home.jpg"
            alt="Newcastle City Image"
          />
        </div>
        <div class="row">
          <div class="col s12">
            <p class="home-text text-shadow">
              An online interactive Geordie dictionary.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">

            <!-- Call To Action Statement-->

            <p class="cta-text text-shadow">
              Sign Up for access to the dictionary!
            </p>
          </div>
        </div>
      </div>
      <div class="card-action">
        
        <!--Sign Up Button -->

        <a href="{{ url_for('signup') }}" class="btn">Sign Up</a>

        <!-- Login Button-->

        <a href="{{ url_for('login') }}" class="btn">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
