{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align">{{ username }}</h3>
    </div>
  </div>
</div>
<div class="container center-align">
  <div class="add-word">
    <a href="{{ url_for('add_word') }}" class="btn"> Add Word </a>
  </div>
</div>

<div class="card-content white-text">
  <span class="card-title">Geordie Dictionary</span>
  <p>Don't forget to add your own!.</p>
</div>
<div class="container">
  <ul class="collapsible">
    {% for word in dictionary %} {% if session.user == word.added_by %}
    <div class="div">
      <a
        href="{{ url_for('update_word', word_id=word._id) }}"
        class="btn-small light-blue lighten-1"
        >Update</a
      >
    </div>
    <li>
      <div class="collapsible-header">
        <strong class="float-right">{{ word.word }}</strong>
      </div>
      <div class="collapsible-body">
        <strong>{{ word.definition }}</strong>
        <p>{{ word.example }}</p>
        <p>{{ word.added_by }}</p>
      </div>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
{% endblock %}
