{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12">
    <div class="card center-align">
      <div class="card-content header">
        <h1 class="center-align main-header text-shadow">
          {{ username }}'s Page
        </h1>
        <div class="profile-text">
          <p>Don't forget to add your own words below!</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <!--Add Word Button-->

          <div class="center-align add-word">
            <a href="{{ url_for('add_word') }}" class="btn add-word-btn">
              Add Word
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">

          <!-- Area for flash error messages to display -->
          <!--Credit https://www.youtube.com/watch?v=wQXSDwCgXIQ -->

          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %} {% if category ==
          "word_added" %}
          <div>
            <h5 class="success-message">{{ message }}</h5>
          </div>
          {% endif %} {% if category == "updated_word" %}
          <div>
            <h5 class="success-message">{{ message }}</h5>
          </div>
          {% endif %} {% if category == "deleted_word" %}
          <div>
            <h5 class="error-message">{{ message }}</h5>
          </div>
          {% endif %} {% if category == "success" %}
          <div>
            <h5 class="success-message">{{ message }}</h5>
          </div>
          {% endif %} {% endfor %} {% endif %} {% endwith %}
        </div>
      </div>

      <!-- Dictionary of User's Own Words Where They Can Update or Delete Them -->

      <div class="container">
        <div class="row">
          <div class="col s12">
            <h2 class="subheader text-shadow">YOUR WORDS!</h2>
            <ul class="collapsible">
              {% for word in dictionary %} {% if session.user == word.added_by
              %}
              <li>
                <div class="collapsible-header">
                  <p>{{ word.word }}</p>
                </div>
                <div class="collapsible-body">
                  <p><span>Definition: </span>{{ word.definition }}</p>
                  <p><span>Example: </span>{{ word.example }}</p>
                  <p><span>Added By: </span>{{ word.added_by }}</p>
                </div>
              </li>
              <div class="profile-btn">
                
                <!--Update Button-->

                <a
                  href="{{ url_for('update_word', word_id=word._id) }}"
                  class="btn-small btn"
                  >Update</a
                >

                <!--Delete Button-->

                <a
                  href="{{ url_for('delete_word', word_id=word._id) }}"
                  class="btn-small btn"
                  >Delete</a
                >
              </div>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
