{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12">
    <div class="card jumbotron center-align">
      <div class="container center-align">
        <form
          class="card-panel"
          method="POST"
          action="{{ url_for('update_word', word_id=word._id) }}"
        >
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="form-group col s12">
              {{ form.word.label(class_="form-text") }} {{ form.word }}
            </div>
          </div>
          <div class="row">
            <div class="form-group col s12">
              {{ form.definition.label(class_="form-text") }} {{ form.definition }}
            </div>
          </div>
          <div class="row">
            <div class="form-group col s12">
              {{ form.example.label(class_="form-text") }} {{ form.example }}
            </div>
          </div>
          <div class="row">{{ form.submit }}</div>
        </form>
        <div></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
